@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
*{
    font-family: 'Balsamiq Sans', cursive;
}
body {
    margin: 50px;
}
#search {
    border-radius: 20px;
    border-width: 1px;
    border-color: mediumturquoise;
    background-color: whitesmoke;
    color: rgb(49, 161, 158);
    padding: 2px 25px;
    margin-bottom: 10px;
}

#plus {
    border-radius: 50%;
    border-width: 0px;
    height: 30px;
    width: 30px;
    font-size: larger;
    background-color: rgb(36, 223, 213);
    color: white;
    margin-bottom: 10px;
}

#account {
    border-width: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(96, 123, 243);
    color: white;
    padding: 5px 20px;
    box-shadow: 3px 3px black;
}